*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url(Garden_overvew/IMG-20260408-WA0038.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header{

    background-color: rgba(50, 50, 50, 0.514);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-wrap: wrap;
}
.hero1{
   
    font-weight:  700;
    font-size:  5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.hero, p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 80px;
    height: 35px;
    font-weight: 700;
    border-radius: 5px;
    border-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.5s ease, box-shadow 0.5s ease-out;
}   
button:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    border: 1px solid #ffffff;
    transform: translateY(-5px);
    transition-duration: 0.5s;
    transition:0.5s;
}